source/gamint/gamess
build/osx*
build/gnu*
build/em64t*
build/cmake
build/UNX/*.mk
!build/UNX/objlibs.mk
!build/UNX/sccdftb.mk
exec
test/data/xtbd_pes.kernel
test/scratch
test/output*
test/em64t*
test/gnu*
test/bench
test/*.ctdiff
tool/qchem
tool/modules.txt
tool/prefx_*
tool/tsort.inp
tool/pycharmm/.idea
tool/pycharmm/tests/scratch
lib
sphinxdoc/build
source/*/*~
source/blade/build*
source/blade/run/output*
source/blade/run/*.xtc
source/blade/run/*.lmd
source/blade/run/*.nrg
source/blade/run/*.cpt
source/blade/run/*.profile
source/blade/run/slurm-*
.gitignore
CHARMM_compile.job
build_charmm_25/
c50a1/
c50a1_13/
c50a1_24nov/
c50a1_lib/
c50a1_nov24/
c50a1_test/
charmm_25/
charmm_25_Jan/
charmm_25_apr/
combine_inp_tests.sh
combined_tests.txt
combined_tests_py.txt
"cull copy.cu"
"recull copy.cu"
"source/blade/src/domdec/cull copy.cu"
"source/blade/src/domdec/recull copy.cu"
tool/pycharmm/adp.pdb
tool/pycharmm/tests/adp.pdb
tool/pycharmm/tests/pdb/
tool/pycharmm/tests/test.crd
tool/pycharmm/tests/test_stanislav.ipynb
tool/pycharmm/tests/testy.pdb
tool/pycharmm/tests/traj.dcd
tool/pycharmm/wt00.pdb
c50a1_24nov/00_config.log
c50a1_24nov/CMakeCache.txt
c50a1_24nov/CMakeFiles/CMakeConfigureLog.yaml
c50a1_24nov/CMakeFiles/CMakeDirectoryInformation.cmake
c50a1_24nov/CMakeFiles/CMakeRuleHashes.txt
c50a1_24nov/CMakeFiles/Makefile.cmake
c50a1_24nov/CMakeFiles/Makefile2
c50a1_24nov/CMakeFiles/TargetDirectories.txt
c50a1_24nov/CMakeFiles/3.27.4/CMakeCCompiler.cmake
c50a1_24nov/CMakeFiles/3.27.4/CMakeCUDACompiler.cmake
c50a1_24nov/CMakeFiles/3.27.4/CMakeCXXCompiler.cmake
c50a1_24nov/CMakeFiles/3.27.4/CMakeDetermineCompilerABI_C.bin
c50a1_24nov/CMakeFiles/3.27.4/CMakeDetermineCompilerABI_CUDA.bin
c50a1_24nov/CMakeFiles/3.27.4/CMakeDetermineCompilerABI_CXX.bin
c50a1_24nov/CMakeFiles/3.27.4/CMakeDetermineCompilerABI_Fortran.bin
c50a1_24nov/CMakeFiles/3.27.4/CMakeFortranCompiler.cmake
c50a1_24nov/CMakeFiles/3.27.4/CMakeSystem.cmake
c50a1_24nov/CMakeFiles/3.27.4/CompilerIdC/a.out
c50a1_24nov/CMakeFiles/3.27.4/CompilerIdC/CMakeCCompilerId.c
c50a1_24nov/CMakeFiles/3.27.4/CompilerIdCUDA/a.out
c50a1_24nov/CMakeFiles/3.27.4/CompilerIdCUDA/CMakeCUDACompilerId.cu
c50a1_24nov/CMakeFiles/3.27.4/CompilerIdCUDA/tmp/a_dlink.fatbin
c50a1_24nov/CMakeFiles/3.27.4/CompilerIdCUDA/tmp/a_dlink.fatbin.c
c50a1_24nov/CMakeFiles/3.27.4/CompilerIdCUDA/tmp/a_dlink.o
c50a1_24nov/CMakeFiles/3.27.4/CompilerIdCUDA/tmp/a_dlink.reg.c
c50a1_24nov/CMakeFiles/3.27.4/CompilerIdCUDA/tmp/a_dlink.sm_52.cubin
c50a1_24nov/CMakeFiles/3.27.4/CompilerIdCUDA/tmp/CMakeCUDACompilerId.cpp1.ii
c50a1_24nov/CMakeFiles/3.27.4/CompilerIdCUDA/tmp/CMakeCUDACompilerId.cpp4.ii
c50a1_24nov/CMakeFiles/3.27.4/CompilerIdCUDA/tmp/CMakeCUDACompilerId.cudafe1.c
c50a1_24nov/CMakeFiles/3.27.4/CompilerIdCUDA/tmp/CMakeCUDACompilerId.cudafe1.cpp
c50a1_24nov/CMakeFiles/3.27.4/CompilerIdCUDA/tmp/CMakeCUDACompilerId.cudafe1.gpu
c50a1_24nov/CMakeFiles/3.27.4/CompilerIdCUDA/tmp/CMakeCUDACompilerId.cudafe1.stub.c
c50a1_24nov/CMakeFiles/3.27.4/CompilerIdCUDA/tmp/CMakeCUDACompilerId.fatbin
c50a1_24nov/CMakeFiles/3.27.4/CompilerIdCUDA/tmp/CMakeCUDACompilerId.fatbin.c
c50a1_24nov/CMakeFiles/3.27.4/CompilerIdCUDA/tmp/CMakeCUDACompilerId.module_id
c50a1_24nov/CMakeFiles/3.27.4/CompilerIdCUDA/tmp/CMakeCUDACompilerId.o
c50a1_24nov/CMakeFiles/3.27.4/CompilerIdCUDA/tmp/CMakeCUDACompilerId.ptx
c50a1_24nov/CMakeFiles/3.27.4/CompilerIdCUDA/tmp/CMakeCUDACompilerId.sm_52.cubin
c50a1_24nov/CMakeFiles/3.27.4/CompilerIdCXX/a.out
c50a1_24nov/CMakeFiles/3.27.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
c50a1_24nov/CMakeFiles/3.27.4/CompilerIdFortran/a.out
c50a1_24nov/CMakeFiles/3.27.4/CompilerIdFortran/CMakeFortranCompilerId.F
c50a1_24nov/CMakeFiles/CheckCUDA/cmake_install.cmake
c50a1_24nov/CMakeFiles/CheckCUDA/CMakeCache.txt
c50a1_24nov/CMakeFiles/CheckCUDA/CMakeLists.txt
c50a1_24nov/CMakeFiles/CheckCUDA/Makefile
c50a1_24nov/CMakeFiles/CheckCUDA/result.cmake
c50a1_24nov/CMakeFiles/CheckCUDA/CMakeFiles/cmake.check_cache
c50a1_24nov/CMakeFiles/CheckCUDA/CMakeFiles/CMakeConfigureLog.yaml
c50a1_24nov/CMakeFiles/CheckCUDA/CMakeFiles/CMakeDirectoryInformation.cmake
c50a1_24nov/CMakeFiles/CheckCUDA/CMakeFiles/Makefile.cmake
c50a1_24nov/CMakeFiles/CheckCUDA/CMakeFiles/Makefile2
c50a1_24nov/CMakeFiles/CheckCUDA/CMakeFiles/progress.marks
c50a1_24nov/CMakeFiles/CheckCUDA/CMakeFiles/TargetDirectories.txt
c50a1_24nov/CMakeFiles/CheckCUDA/CMakeFiles/3.27.4/CMakeCUDACompiler.cmake
c50a1_24nov/CMakeFiles/CheckCUDA/CMakeFiles/3.27.4/CMakeDetermineCompilerABI_CUDA.bin
c50a1_24nov/CMakeFiles/CheckCUDA/CMakeFiles/3.27.4/CMakeSystem.cmake
c50a1_24nov/CMakeFiles/CheckCUDA/CMakeFiles/3.27.4/CompilerIdCUDA/a.out
c50a1_24nov/CMakeFiles/CheckCUDA/CMakeFiles/3.27.4/CompilerIdCUDA/CMakeCUDACompilerId.cu
c50a1_24nov/CMakeFiles/CheckCUDA/CMakeFiles/3.27.4/CompilerIdCUDA/tmp/a_dlink.fatbin
c50a1_24nov/CMakeFiles/CheckCUDA/CMakeFiles/3.27.4/CompilerIdCUDA/tmp/a_dlink.fatbin.c
c50a1_24nov/CMakeFiles/CheckCUDA/CMakeFiles/3.27.4/CompilerIdCUDA/tmp/a_dlink.o
c50a1_24nov/CMakeFiles/CheckCUDA/CMakeFiles/3.27.4/CompilerIdCUDA/tmp/a_dlink.reg.c
c50a1_24nov/CMakeFiles/CheckCUDA/CMakeFiles/3.27.4/CompilerIdCUDA/tmp/a_dlink.sm_52.cubin
c50a1_24nov/CMakeFiles/CheckCUDA/CMakeFiles/3.27.4/CompilerIdCUDA/tmp/CMakeCUDACompilerId.cpp1.ii
c50a1_24nov/CMakeFiles/CheckCUDA/CMakeFiles/3.27.4/CompilerIdCUDA/tmp/CMakeCUDACompilerId.cpp4.ii
c50a1_24nov/CMakeFiles/CheckCUDA/CMakeFiles/3.27.4/CompilerIdCUDA/tmp/CMakeCUDACompilerId.cudafe1.c
c50a1_24nov/CMakeFiles/CheckCUDA/CMakeFiles/3.27.4/CompilerIdCUDA/tmp/CMakeCUDACompilerId.cudafe1.cpp
c50a1_24nov/CMakeFiles/CheckCUDA/CMakeFiles/3.27.4/CompilerIdCUDA/tmp/CMakeCUDACompilerId.cudafe1.gpu
c50a1_24nov/CMakeFiles/CheckCUDA/CMakeFiles/3.27.4/CompilerIdCUDA/tmp/CMakeCUDACompilerId.cudafe1.stub.c
c50a1_24nov/CMakeFiles/CheckCUDA/CMakeFiles/3.27.4/CompilerIdCUDA/tmp/CMakeCUDACompilerId.fatbin
c50a1_24nov/CMakeFiles/CheckCUDA/CMakeFiles/3.27.4/CompilerIdCUDA/tmp/CMakeCUDACompilerId.fatbin.c
c50a1_24nov/CMakeFiles/CheckCUDA/CMakeFiles/3.27.4/CompilerIdCUDA/tmp/CMakeCUDACompilerId.module_id
c50a1_24nov/CMakeFiles/CheckCUDA/CMakeFiles/3.27.4/CompilerIdCUDA/tmp/CMakeCUDACompilerId.o
c50a1_24nov/CMakeFiles/CheckCUDA/CMakeFiles/3.27.4/CompilerIdCUDA/tmp/CMakeCUDACompilerId.ptx
c50a1_24nov/CMakeFiles/CheckCUDA/CMakeFiles/3.27.4/CompilerIdCUDA/tmp/CMakeCUDACompilerId.sm_52.cubin
c50a1_24nov/CMakeFiles/FindMPI/mpiver_Fortran.bin
c50a1_24nov/CMakeFiles/FindMPI/test_mpi_C.bin
c50a1_24nov/CMakeFiles/FindMPI/test_mpi_CXX.bin
c50a1_24nov/CMakeFiles/FindMPI/test_mpi_Fortran.bin
c50a1_24nov/CMakeFiles/FindOpenMP/ompver_C.bin
c50a1_24nov/CMakeFiles/FindOpenMP/ompver_CXX.bin
c50a1_24nov/CMakeFiles/FindOpenMP/ompver_Fortran.bin
c50a1_24nov/CMakeFiles/blade_cxx.dir/build.make
c50a1_24nov/CMakeFiles/blade_cxx.dir/cmake_clean_target.cmake
c50a1_24nov/CMakeFiles/blade_cxx.dir/cmake_clean.cmake
c50a1_24nov/CMakeFiles/blade_cxx.dir/compiler_depend.internal
c50a1_24nov/CMakeFiles/blade_cxx.dir/compiler_depend.make
c50a1_24nov/CMakeFiles/blade_cxx.dir/compiler_depend.ts
c50a1_24nov/CMakeFiles/blade_cxx.dir/depend.make
c50a1_24nov/CMakeFiles/blade_cxx.dir/DependInfo.cmake
c50a1_24nov/CMakeFiles/blade_cxx.dir/flags.make
c50a1_24nov/CMakeFiles/blade_cxx.dir/link.txt
c50a1_24nov/CMakeFiles/blade_cxx.dir/progress.make
c50a1_24nov/CMakeFiles/blade_cxx.dir/source/blade/src/io/calculate.cxx.o
c50a1_24nov/CMakeFiles/blade_cxx.dir/source/blade/src/io/calculate.cxx.o.d
c50a1_24nov/CMakeFiles/blade_cxx.dir/source/blade/src/io/control.cxx.o
c50a1_24nov/CMakeFiles/blade_cxx.dir/source/blade/src/io/control.cxx.o.d
c50a1_24nov/CMakeFiles/blade_cxx.dir/source/blade/src/io/io.cxx.o
c50a1_24nov/CMakeFiles/blade_cxx.dir/source/blade/src/io/io.cxx.o.d
c50a1_24nov/CMakeFiles/blade_cxx.dir/source/blade/src/io/variables.cxx.o
c50a1_24nov/CMakeFiles/blade_cxx.dir/source/blade/src/io/variables.cxx.o.d
c50a1_24nov/CMakeFiles/blade_cxx.dir/source/blade/src/rng/rng_cpu.cxx.o
c50a1_24nov/CMakeFiles/blade_cxx.dir/source/blade/src/rng/rng_cpu.cxx.o.d
c50a1_24nov/CMakeFiles/blade_cxx.dir/source/blade/src/system/coordinates.cxx.o
c50a1_24nov/CMakeFiles/blade_cxx.dir/source/blade/src/system/coordinates.cxx.o.d
c50a1_24nov/CMakeFiles/blade_cxx.dir/source/blade/src/system/parameters.cxx.o
c50a1_24nov/CMakeFiles/blade_cxx.dir/source/blade/src/system/parameters.cxx.o.d
c50a1_24nov/CMakeFiles/blade_cxx.dir/source/blade/src/system/potential.cxx.o
c50a1_24nov/CMakeFiles/blade_cxx.dir/source/blade/src/system/potential.cxx.o.d
c50a1_24nov/CMakeFiles/blade_cxx.dir/source/blade/src/system/selections.cxx.o
c50a1_24nov/CMakeFiles/blade_cxx.dir/source/blade/src/system/selections.cxx.o.d
c50a1_24nov/CMakeFiles/blade_cxx.dir/source/blade/src/system/state.cxx.o
c50a1_24nov/CMakeFiles/blade_cxx.dir/source/blade/src/system/state.cxx.o.d
c50a1_24nov/CMakeFiles/blade_cxx.dir/source/blade/src/system/structure.cxx.o
c50a1_24nov/CMakeFiles/blade_cxx.dir/source/blade/src/system/structure.cxx.o.d
c50a1_24nov/CMakeFiles/blade_cxx.dir/source/blade/src/system/system.cxx.o
c50a1_24nov/CMakeFiles/blade_cxx.dir/source/blade/src/system/system.cxx.o.d
c50a1_24nov/CMakeFiles/blade_cxx.dir/source/blade/src/xdr/xdrfile_xtc.cxx.o
c50a1_24nov/CMakeFiles/blade_cxx.dir/source/blade/src/xdr/xdrfile_xtc.cxx.o.d
c50a1_24nov/CMakeFiles/blade_cxx.dir/source/blade/src/xdr/xdrfile.cxx.o
c50a1_24nov/CMakeFiles/blade_cxx.dir/source/blade/src/xdr/xdrfile.cxx.o.d
c50a1_24nov/CMakeFiles/charmm.dir/build.make
c50a1_24nov/CMakeFiles/charmm.dir/charmm_main.F90.o
c50a1_24nov/CMakeFiles/charmm.dir/cmake_clean.cmake
c50a1_24nov/CMakeFiles/charmm.dir/compiler_depend.make
c50a1_24nov/CMakeFiles/charmm.dir/compiler_depend.ts
c50a1_24nov/CMakeFiles/charmm.dir/depend.internal
c50a1_24nov/CMakeFiles/charmm.dir/depend.make
c50a1_24nov/CMakeFiles/charmm.dir/DependInfo.cmake
c50a1_24nov/CMakeFiles/charmm.dir/flags.make
c50a1_24nov/CMakeFiles/charmm.dir/fortran.internal
c50a1_24nov/CMakeFiles/charmm.dir/link.txt
c50a1_24nov/CMakeFiles/charmm.dir/progress.make
c50a1_24nov/CMakeFiles/charmm_c.dir/build.make
c50a1_24nov/CMakeFiles/charmm_c.dir/cmake_clean_target.cmake
c50a1_24nov/CMakeFiles/charmm_c.dir/cmake_clean.cmake
c50a1_24nov/CMakeFiles/charmm_c.dir/compiler_depend.internal
c50a1_24nov/CMakeFiles/charmm_c.dir/compiler_depend.make
c50a1_24nov/CMakeFiles/charmm_c.dir/compiler_depend.ts
c50a1_24nov/CMakeFiles/charmm_c.dir/depend.make
c50a1_24nov/CMakeFiles/charmm_c.dir/DependInfo.cmake
c50a1_24nov/CMakeFiles/charmm_c.dir/flags.make
c50a1_24nov/CMakeFiles/charmm_c.dir/link.txt
c50a1_24nov/CMakeFiles/charmm_c.dir/progress.make
c50a1_24nov/CMakeFiles/charmm_c.dir/source/domdec/domdec_sse.c.o
c50a1_24nov/CMakeFiles/charmm_c.dir/source/domdec/domdec_sse.c.o.d
c50a1_24nov/CMakeFiles/charmm_c.dir/source/domdec/enbfix14_sse.c.o
c50a1_24nov/CMakeFiles/charmm_c.dir/source/domdec/enbfix14_sse.c.o.d
c50a1_24nov/CMakeFiles/charmm_c.dir/source/machdep/cstuff.c.o
c50a1_24nov/CMakeFiles/charmm_c.dir/source/machdep/cstuff.c.o.d
c50a1_24nov/CMakeFiles/charmm_c.dir/source/machdep/socket.c.o
c50a1_24nov/CMakeFiles/charmm_c.dir/source/machdep/socket.c.o.d
c50a1_24nov/CMakeFiles/charmm_c.dir/source/machdep/xdisp.c.o
c50a1_24nov/CMakeFiles/charmm_c.dir/source/machdep/xdisp.c.o.d
c50a1_24nov/CMakeFiles/charmm_c.dir/source/nbonds/colfft_sse.c.o
c50a1_24nov/CMakeFiles/charmm_c.dir/source/nbonds/colfft_sse.c.o.d
c50a1_24nov/CMakeFiles/charmm_cuda.dir/build.make
c50a1_24nov/CMakeFiles/charmm_cuda.dir/cmake_clean_target.cmake
c50a1_24nov/CMakeFiles/charmm_cuda.dir/cmake_clean.cmake
c50a1_24nov/CMakeFiles/charmm_cuda.dir/compiler_depend.internal
c50a1_24nov/CMakeFiles/charmm_cuda.dir/compiler_depend.make
c50a1_24nov/CMakeFiles/charmm_cuda.dir/compiler_depend.ts
c50a1_24nov/CMakeFiles/charmm_cuda.dir/depend.make
c50a1_24nov/CMakeFiles/charmm_cuda.dir/DependInfo.cmake
c50a1_24nov/CMakeFiles/charmm_cuda.dir/flags.make
c50a1_24nov/CMakeFiles/charmm_cuda.dir/includes_CUDA.rsp
c50a1_24nov/CMakeFiles/charmm_cuda.dir/link.txt
c50a1_24nov/CMakeFiles/charmm_cuda.dir/progress.make
c50a1_24nov/CMakeFiles/charmm_cuda.dir/source/blade/src/bonded/bonded.cu.o
c50a1_24nov/CMakeFiles/charmm_cuda.dir/source/blade/src/bonded/bonded.cu.o.d
c50a1_24nov/CMakeFiles/charmm_cuda.dir/source/blade/src/bonded/pair.cu.o
c50a1_24nov/CMakeFiles/charmm_cuda.dir/source/blade/src/bonded/pair.cu.o.d
c50a1_24nov/CMakeFiles/charmm_cuda.dir/source/blade/src/domdec/assign_blocks.cu.o
c50a1_24nov/CMakeFiles/charmm_cuda.dir/source/blade/src/domdec/assign_blocks.cu.o.d
c50a1_24nov/CMakeFiles/charmm_cuda.dir/source/blade/src/domdec/assign_domain.cu.o
c50a1_24nov/CMakeFiles/charmm_cuda.dir/source/blade/src/domdec/assign_domain.cu.o.d
c50a1_24nov/CMakeFiles/charmm_cuda.dir/source/blade/src/domdec/assign_excl.cu.o
c50a1_24nov/CMakeFiles/charmm_cuda.dir/source/blade/src/domdec/assign_excl.cu.o.d
c50a1_24nov/CMakeFiles/charmm_cuda.dir/source/blade/src/domdec/cull.cu.o
c50a1_24nov/CMakeFiles/charmm_cuda.dir/source/blade/src/domdec/cull.cu.o.d
c50a1_24nov/CMakeFiles/charmm_cuda.dir/source/blade/src/domdec/domdec.cu.o
c50a1_24nov/CMakeFiles/charmm_cuda.dir/source/blade/src/domdec/domdec.cu.o.d
c50a1_24nov/CMakeFiles/charmm_cuda.dir/source/blade/src/domdec/recull.cu.o
c50a1_24nov/CMakeFiles/charmm_cuda.dir/source/blade/src/domdec/recull.cu.o.d
c50a1_24nov/CMakeFiles/charmm_cuda.dir/source/blade/src/holonomic/holonomic.cu.o
c50a1_24nov/CMakeFiles/charmm_cuda.dir/source/blade/src/holonomic/holonomic.cu.o.d
c50a1_24nov/CMakeFiles/charmm_cuda.dir/source/blade/src/holonomic/rectify.cu.o
c50a1_24nov/CMakeFiles/charmm_cuda.dir/source/blade/src/holonomic/rectify.cu.o.d
c50a1_24nov/CMakeFiles/charmm_cuda.dir/source/blade/src/holonomic/virtual.cu.o
c50a1_24nov/CMakeFiles/charmm_cuda.dir/source/blade/src/holonomic/virtual.cu.o.d
c50a1_24nov/CMakeFiles/charmm_cuda.dir/source/blade/src/msld/msld.cu.o
c50a1_24nov/CMakeFiles/charmm_cuda.dir/source/blade/src/msld/msld.cu.o.d
c50a1_24nov/CMakeFiles/charmm_cuda.dir/source/blade/src/nbdirect/nbdirect.cu.o
c50a1_24nov/CMakeFiles/charmm_cuda.dir/source/blade/src/nbdirect/nbdirect.cu.o.d
c50a1_24nov/CMakeFiles/charmm_cuda.dir/source/blade/src/nbrecip/nbrecip.cu.o
c50a1_24nov/CMakeFiles/charmm_cuda.dir/source/blade/src/nbrecip/nbrecip.cu.o.d
c50a1_24nov/CMakeFiles/charmm_cuda.dir/source/blade/src/restrain/restrain.cu.o
c50a1_24nov/CMakeFiles/charmm_cuda.dir/source/blade/src/restrain/restrain.cu.o.d
c50a1_24nov/CMakeFiles/charmm_cuda.dir/source/blade/src/rng/rng_gpu.cu.o
c50a1_24nov/CMakeFiles/charmm_cuda.dir/source/blade/src/rng/rng_gpu.cu.o.d
c50a1_24nov/CMakeFiles/charmm_cuda.dir/source/blade/src/run/run.cu.o
c50a1_24nov/CMakeFiles/charmm_cuda.dir/source/blade/src/run/run.cu.o.d
c50a1_24nov/CMakeFiles/charmm_cuda.dir/source/blade/src/update/pressure.cu.o
c50a1_24nov/CMakeFiles/charmm_cuda.dir/source/blade/src/update/pressure.cu.o.d
c50a1_24nov/CMakeFiles/charmm_cuda.dir/source/blade/src/update/update.cu.o
c50a1_24nov/CMakeFiles/charmm_cuda.dir/source/blade/src/update/update.cu.o.d
c50a1_24nov/CMakeFiles/charmm_cxx.dir/build.make
c50a1_24nov/CMakeFiles/charmm_cxx.dir/cmake_clean_target.cmake
c50a1_24nov/CMakeFiles/charmm_cxx.dir/cmake_clean.cmake
c50a1_24nov/CMakeFiles/charmm_cxx.dir/compiler_depend.internal
c50a1_24nov/CMakeFiles/charmm_cxx.dir/compiler_depend.make
c50a1_24nov/CMakeFiles/charmm_cxx.dir/compiler_depend.ts
c50a1_24nov/CMakeFiles/charmm_cxx.dir/depend.make
c50a1_24nov/CMakeFiles/charmm_cxx.dir/DependInfo.cmake
c50a1_24nov/CMakeFiles/charmm_cxx.dir/flags.make
c50a1_24nov/CMakeFiles/charmm_cxx.dir/link.txt
c50a1_24nov/CMakeFiles/charmm_cxx.dir/progress.make
c50a1_24nov/CMakeFiles/charmm_cxx.dir/source/blade_api/dynamics.cxx.o
c50a1_24nov/CMakeFiles/charmm_cxx.dir/source/blade_api/dynamics.cxx.o.d
c50a1_24nov/CMakeFiles/charmm_cxx.dir/source/domdec/enb_core_vec.cpp.o
c50a1_24nov/CMakeFiles/charmm_cxx.dir/source/domdec/enb_core_vec.cpp.o.d
c50a1_24nov/CMakeFiles/charmm_cxx.dir/source/domdec/enb_core_wrapper.cpp.o
c50a1_24nov/CMakeFiles/charmm_cxx.dir/source/domdec/enb_core_wrapper.cpp.o.d
c50a1_24nov/CMakeFiles/charmm_cxx.dir/source/domdec_gpu/CudaRandom.cpp.o
c50a1_24nov/CMakeFiles/charmm_cxx.dir/source/domdec_gpu/CudaRandom.cpp.o.d
c50a1_24nov/CMakeFiles/charmm_cxx.dir/source/domdec_gpu/EnergyVirial.cpp.o
c50a1_24nov/CMakeFiles/charmm_cxx.dir/source/domdec_gpu/EnergyVirial.cpp.o.d
c50a1_24nov/CMakeFiles/charmm_cxx.dir/source/fftdock/ocl_batch_fft.cpp.o
c50a1_24nov/CMakeFiles/charmm_cxx.dir/source/fftdock/ocl_batch_fft.cpp.o.d
c50a1_24nov/CMakeFiles/charmm_cxx.dir/source/fftdock/ocl_grid_lig.cpp.o
c50a1_24nov/CMakeFiles/charmm_cxx.dir/source/fftdock/ocl_grid_lig.cpp.o.d
c50a1_24nov/CMakeFiles/charmm_cxx.dir/source/fftdock/ocl_grid_pot.cpp.o
c50a1_24nov/CMakeFiles/charmm_cxx.dir/source/fftdock/ocl_grid_pot.cpp.o.d
c50a1_24nov/CMakeFiles/charmm_cxx.dir/source/machdep/uninf.cpp.o
c50a1_24nov/CMakeFiles/charmm_cxx.dir/source/machdep/uninf.cpp.o.d
c50a1_24nov/CMakeFiles/charmm_cxx.dir/source/nbonds/helpme.cpp.o
c50a1_24nov/CMakeFiles/charmm_cxx.dir/source/nbonds/helpme.cpp.o.d
c50a1_24nov/CMakeFiles/charmm_cxx.dir/source/opencl/ocl_util.cpp.o
c50a1_24nov/CMakeFiles/charmm_cxx.dir/source/opencl/ocl_util.cpp.o.d
c50a1_24nov/CMakeFiles/charmm_cxx.dir/source/openmm/ommPlus.cpp.o
c50a1_24nov/CMakeFiles/charmm_cxx.dir/source/openmm/ommPlus.cpp.o.d
c50a1_24nov/CMakeFiles/charmm_cxx.dir/source/util/pack.cpp.o
c50a1_24nov/CMakeFiles/charmm_cxx.dir/source/util/pack.cpp.o.d
c50a1_24nov/CMakeFiles/chmm.dir/aaa_sanity_checks.F90.o
c50a1_24nov/CMakeFiles/chmm.dir/aaa_sanity_checks.F90.o.provides.build
c50a1_24nov/CMakeFiles/chmm.dir/abner.F90.o
c50a1_24nov/CMakeFiles/chmm.dir/abner.F90.o.provides.build
c50a1_24nov/CMakeFiles/chmm.dir/abnerm.mod.stamp
c50a1_24nov/CMakeFiles/chmm.dir/abpo_collvar.mod.stamp
c50a1_24nov/CMakeFiles/chmm.dir/abpo_ltm.F90.o
c50a1_24nov/CMakeFiles/chmm.dir/abpo_ltm.F90.o.provides.build
c50a1_24nov/CMakeFiles/chmm.dir/abpo_ltm.mod.stamp
c50a1_24nov/CMakeFiles/chmm.dir/abpo.F90.o
c50a1_24nov/CMakeFiles/chmm.dir/abpo.F90.o.provides.build
c50a1_24nov/CMakeFiles/chmm.dir/abpo.mod.stamp
c50a1_24nov/CMakeFiles/chmm.dir/ace_module.mod.stamp
c50a1_24nov/CMakeFiles/chmm.dir/ace.F90.o
c50a1_24nov/CMakeFiles/chmm.dir/ace.F90.o.provides.build
c50a1_24nov/CMakeFiles/chmm.dir/aceio.F90.o
c50a1_24nov/CMakeFiles/chmm.dir/actclus_ltm.F90.o
c50a1_24nov/CMakeFiles/chmm.dir/actclus_ltm.F90.o.provides.build
c50a1_24nov/CMakeFiles/chmm.dir/actclus_mod.mod.stamp
c50a1_24nov/CMakeFiles/chmm.dir/addlnat.F90.o
c50a1_24nov/CMakeFiles/chmm.dir/addlnat.F90.o.provides.build
c50a1_24nov/CMakeFiles/chmm.dir/adiab.F90.o
c50a1_24nov/CMakeFiles/chmm.dir/adiab.F90.o.provides.build
c50a1_24nov/CMakeFiles/chmm.dir/afm_module.mod.stamp
c50a1_24nov/CMakeFiles/chmm.dir/afm.F90.o
c50a1_24nov/CMakeFiles/chmm.dir/afm.F90.o.provides.build
c50a1_24nov/CMakeFiles/chmm.dir/aidx.F90.o
c50a1_24nov/CMakeFiles/chmm.dir/aidx.F90.o.provides.build
c50a1_24nov/CMakeFiles/chmm.dir/aidxmod.mod.stamp
c50a1_24nov/CMakeFiles/chmm.dir/aips_module.mod.stamp
c50a1_24nov/CMakeFiles/chmm.dir/alloc_mod.F90.o
c50a1_24nov/CMakeFiles/chmm.dir/alloc_mod.F90.o.provides.build
c50a1_24nov/CMakeFiles/chmm.dir/allocation.mod.stamp
c50a1_24nov/CMakeFiles/chmm.dir/alloccomp_mod.F90.o
c50a1_24nov/CMakeFiles/chmm.dir/alloccomp_mod.F90.o.provides.build
c50a1_24nov/CMakeFiles/chmm.dir/alloccomp.mod.stamp
c50a1_24nov/CMakeFiles/chmm.dir/allocdat_ltm.F90.o
c50a1_24nov/CMakeFiles/chmm.dir/allocdat_ltm.F90.o.provides.build
c50a1_24nov/CMakeFiles/chmm.dir/allocdat.mod.stamp
c50a1_24nov/CMakeFiles/chmm.dir/am1parm_ltm.F90.o
c50a1_24nov/CMakeFiles/chmm.dir/am1parm_ltm.F90.o.provides.build
c50a1_24nov/CMakeFiles/chmm.dir/am1parm.mod.stamp
c50a1_24nov/CMakeFiles/chmm.dir/anacor_m.mod.stamp
c50a1_24nov/CMakeFiles/chmm.dir/anacor.F90.o
c50a1_24nov/CMakeFiles/chmm.dir/anacor.F90.o.provides.build
c50a1_24nov/CMakeFiles/chmm.dir/anal.F90.o
c50a1_24nov/CMakeFiles/chmm.dir/anal.F90.o.provides.build
c50a1_24nov/CMakeFiles/chmm.dir/ancsol_mod.mod.stamp
c50a1_24nov/CMakeFiles/chmm.dir/ancsol.F90.o
c50a1_24nov/CMakeFiles/chmm.dir/ancsol.F90.o.provides.build
c50a1_24nov/CMakeFiles/chmm.dir/aniso_fcm.mod.stamp
c50a1_24nov/CMakeFiles/chmm.dir/aniso_ltm.F90.o
c50a1_24nov/CMakeFiles/chmm.dir/aniso_ltm.F90.o.provides.build
c50a1_24nov/CMakeFiles/chmm.dir/apbs.F90.o
c50a1_24nov/CMakeFiles/chmm.dir/apbs.F90.o.provides.build
c50a1_24nov/CMakeFiles/chmm.dir/api_charmm_file.F90.o
c50a1_24nov/CMakeFiles/chmm.dir/api_charmm_file.F90.o.provides.build
c50a1_24nov/CMakeFiles/chmm.dir/api_charmm_file.mod.stamp
c50a1_24nov/CMakeFiles/chmm.dir/api_cons_fix.F90.o
c50a1_24nov/CMakeFiles/chmm.dir/api_cons_fix.F90.o.provides.build
c50a1_24nov/CMakeFiles/chmm.dir/api_cons_fix.mod.stamp
c50a1_24nov/CMakeFiles/chmm.dir/api_cons_harm.F90.o
c50a1_24nov/CMakeFiles/chmm.dir/api_cons_harm.F90.o.provides.build
c50a1_24nov/CMakeFiles/chmm.dir/api_cons_harm.mod.stamp
c50a1_24nov/CMakeFiles/chmm.dir/api_coor.F90.o
c50a1_24nov/CMakeFiles/chmm.dir/api_coor.F90.o.provides.build
c50a1_24nov/CMakeFiles/chmm.dir/api_coor.mod.stamp
c50a1_24nov/CMakeFiles/chmm.dir/api_crystal.F90.o
c50a1_24nov/CMakeFiles/chmm.dir/api_crystal.F90.o.provides.build
c50a1_24nov/CMakeFiles/chmm.dir/api_crystal.mod.stamp
c50a1_24nov/CMakeFiles/chmm.dir/api_custom.F90.o
c50a1_24nov/CMakeFiles/chmm.dir/api_custom.F90.o.provides.build
c50a1_24nov/CMakeFiles/chmm.dir/api_custom.mod.stamp
c50a1_24nov/CMakeFiles/chmm.dir/api_dataframe.F90.o
c50a1_24nov/CMakeFiles/chmm.dir/api_dataframe.F90.o.provides.build
c50a1_24nov/CMakeFiles/chmm.dir/api_dataframe.mod.stamp
c50a1_24nov/CMakeFiles/chmm.dir/api_dynamics.F90.o
c50a1_24nov/CMakeFiles/chmm.dir/api_dynamics.F90.o.provides.build
c50a1_24nov/CMakeFiles/chmm.dir/api_dynamics.mod.stamp
c50a1_24nov/CMakeFiles/chmm.dir/api_energy.F90.o
c50a1_24nov/CMakeFiles/chmm.dir/api_energy.F90.o.provides.build
c50a1_24nov/CMakeFiles/chmm.dir/api_energy.mod.stamp
c50a1_24nov/CMakeFiles/chmm.dir/api_eval.F90.o
c50a1_24nov/CMakeFiles/chmm.dir/api_eval.F90.o.provides.build
c50a1_24nov/CMakeFiles/chmm.dir/api_eval.mod.stamp
c50a1_24nov/CMakeFiles/chmm.dir/api_func.F90.o
c50a1_24nov/CMakeFiles/chmm.dir/api_func.F90.o.provides.build
c50a1_24nov/CMakeFiles/chmm.dir/api_func.mod.stamp
c50a1_24nov/CMakeFiles/chmm.dir/api_generate.F90.o
c50a1_24nov/CMakeFiles/chmm.dir/api_generate.F90.o.provides.build
c50a1_24nov/CMakeFiles/chmm.dir/api_generate.mod.stamp
c50a1_24nov/CMakeFiles/chmm.dir/api_grid.F90.o
c50a1_24nov/CMakeFiles/chmm.dir/api_grid.F90.o.provides.build
c50a1_24nov/CMakeFiles/chmm.dir/api_grid.mod.stamp
c50a1_24nov/CMakeFiles/chmm.dir/api_ic.F90.o
c50a1_24nov/CMakeFiles/chmm.dir/api_ic.F90.o.provides.build
c50a1_24nov/CMakeFiles/chmm.dir/api_ic.mod.stamp
c50a1_24nov/CMakeFiles/chmm.dir/api_image.F90.o
c50a1_24nov/CMakeFiles/chmm.dir/api_image.F90.o.provides.build
c50a1_24nov/CMakeFiles/chmm.dir/api_image.mod.stamp
c50a1_24nov/CMakeFiles/chmm.dir/api_init.F90.o
c50a1_24nov/CMakeFiles/chmm.dir/api_init.F90.o.provides.build
c50a1_24nov/CMakeFiles/chmm.dir/api_init.mod.stamp
c50a1_24nov/CMakeFiles/chmm.dir/api_ktable.F90.o
c50a1_24nov/CMakeFiles/chmm.dir/api_ktable.F90.o.provides.build
c50a1_24nov/CMakeFiles/chmm.dir/api_ktable.mod.stamp
c50a1_24nov/CMakeFiles/chmm.dir/api_lambdata.F90.o
c50a1_24nov/CMakeFiles/chmm.dir/api_lambdata.F90.o.provides.build
c50a1_24nov/CMakeFiles/chmm.dir/api_lambdata.mod.stamp
c50a1_24nov/CMakeFiles/chmm.dir/api_minimize.F90.o
c50a1_24nov/CMakeFiles/chmm.dir/api_minimize.F90.o.provides.build
c50a1_24nov/CMakeFiles/chmm.dir/api_minimize.mod.stamp
c50a1_24nov/CMakeFiles/chmm.dir/api_msldata.F90.o
c50a1_24nov/CMakeFiles/chmm.dir/api_msldata.F90.o.provides.build
c50a1_24nov/CMakeFiles/chmm.dir/api_msldata.mod.stamp
c50a1_24nov/CMakeFiles/chmm.dir/api_nbonds.F90.o
c50a1_24nov/CMakeFiles/chmm.dir/api_nbonds.F90.o.provides.build
c50a1_24nov/CMakeFiles/chmm.dir/api_nbonds.mod.stamp
c50a1_24nov/CMakeFiles/chmm.dir/api_omm.F90.o
c50a1_24nov/CMakeFiles/chmm.dir/api_omm.F90.o.provides.build
c50a1_24nov/CMakeFiles/chmm.dir/api_omm.mod.stamp
c50a1_24nov/CMakeFiles/chmm.dir/api_param.F90.o
c50a1_24nov/CMakeFiles/chmm.dir/api_param.F90.o.provides.build
c50a1_24nov/CMakeFiles/chmm.dir/api_param.mod.stamp
c50a1_24nov/CMakeFiles/chmm.dir/api_pbound.F90.o
c50a1_24nov/CMakeFiles/chmm.dir/api_pbound.F90.o.provides.build
c50a1_24nov/CMakeFiles/chmm.dir/api_pbound.mod.stamp
c50a1_24nov/CMakeFiles/chmm.dir/api_psf.F90.o
c50a1_24nov/CMakeFiles/chmm.dir/api_psf.F90.o.provides.build
c50a1_24nov/CMakeFiles/chmm.dir/api_psf.mod.stamp
c50a1_24nov/CMakeFiles/chmm.dir/api_read.F90.o
c50a1_24nov/CMakeFiles/chmm.dir/api_read.F90.o.provides.build
c50a1_24nov/CMakeFiles/chmm.dir/api_read.mod.stamp
c50a1_24nov/CMakeFiles/chmm.dir/api_scalar.F90.o
c50a1_24nov/CMakeFiles/chmm.dir/api_scalar.F90.o.provides.build
c50a1_24nov/CMakeFiles/chmm.dir/api_scalar.mod.stamp
c50a1_24nov/CMakeFiles/chmm.dir/api_select.F90.o
c50a1_24nov/CMakeFiles/chmm.dir/api_select.F90.o.provides.build
c50a1_24nov/CMakeFiles/chmm.dir/api_select.mod.stamp
c50a1_24nov/CMakeFiles/chmm.dir/api_shake.F90.o
c50a1_24nov/CMakeFiles/chmm.dir/api_shake.F90.o.provides.build
c50a1_24nov/CMakeFiles/chmm.dir/api_shake.mod.stamp
c50a1_24nov/CMakeFiles/chmm.dir/api_stream.F90.o
c50a1_24nov/CMakeFiles/chmm.dir/api_stream.F90.o.provides.build
c50a1_24nov/CMakeFiles/chmm.dir/api_stream.mod.stamp
c50a1_24nov/CMakeFiles/chmm.dir/api_types.F90.o
c50a1_24nov/CMakeFiles/chmm.dir/api_types.F90.o.provides.build
c50a1_24nov/CMakeFiles/chmm.dir/api_types.mod.stamp
c50a1_24nov/CMakeFiles/chmm.dir/api_util.F90.o
c50a1_24nov/CMakeFiles/chmm.dir/api_util.F90.o.provides.build
c50a1_24nov/CMakeFiles/chmm.dir/api_util.mod.stamp
c50a1_24nov/CMakeFiles/chmm.dir/api_velos.F90.o
c50a1_24nov/CMakeFiles/chmm.dir/api_velos.F90.o.provides.build
c50a1_24nov/CMakeFiles/chmm.dir/api_velos.mod.stamp
c50a1_24nov/CMakeFiles/chmm.dir/api_write.F90.o
c50a1_24nov/CMakeFiles/chmm.dir/DependInfo.cmake
.gitignore
tool/pycharmm/pycharmm_draft/__init__.py
tool/pycharmm/pycharmm_draft/atom_info.py
tool/pycharmm/pycharmm_draft/cdocker.py
tool/pycharmm/pycharmm_draft/charmm_file.py
tool/pycharmm/pycharmm_draft/cons_fix.py
tool/pycharmm/pycharmm_draft/cons_harm.py
tool/pycharmm/pycharmm_draft/cons_methods.py
tool/pycharmm/pycharmm_draft/coor.py
tool/pycharmm/pycharmm_draft/crystal.py
tool/pycharmm/pycharmm_draft/custom.py
tool/pycharmm/pycharmm_draft/dimens.py
tool/pycharmm/pycharmm_draft/dynamics.py
tool/pycharmm/pycharmm_draft/energy_func.py
tool/pycharmm/pycharmm_draft/energy_mlpot.py
tool/pycharmm/pycharmm_draft/energy.py
tool/pycharmm/pycharmm_draft/fict.py
tool/pycharmm/pycharmm_draft/generate.py
tool/pycharmm/pycharmm_draft/grid.py
tool/pycharmm/pycharmm_draft/ic.py
tool/pycharmm/pycharmm_draft/image.py
tool/pycharmm/pycharmm_draft/implicit_solvent.py
tool/pycharmm/pycharmm_draft/lib.py
tool/pycharmm/pycharmm_draft/lingo.py
tool/pycharmm/pycharmm_draft/minimize.py
tool/pycharmm/pycharmm_draft/nbonds.py
tool/pycharmm/pycharmm_draft/omm.py
tool/pycharmm/pycharmm_draft/param.py
tool/pycharmm/pycharmm_draft/psf.py
tool/pycharmm/pycharmm_draft/read.py
tool/pycharmm/pycharmm_draft/scalar.py
tool/pycharmm/pycharmm_draft/script.py
tool/pycharmm/pycharmm_draft/select_atoms.py
tool/pycharmm/pycharmm_draft/select.py
tool/pycharmm/pycharmm_draft/settings.py
tool/pycharmm/pycharmm_draft/shake.py
tool/pycharmm/pycharmm_draft/write.py
